.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  padding: 0 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: black;     // transparent black
  

  z-index: 1000;
}

/* Logo */
.logo {
  color: white;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

/* Navigation */
.nav-links {
  display: flex;
  gap: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: flex;
  align-items: center;
}

/* Link style */
.nav-links a {
  color: #e6e6e6;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  padding-bottom: 2px;
  transition: 0.25s ease;
  position: relative;
}

/* Smooth underline animation */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;

  width: 0%;
  height: 2px;
  background: #58a6ff;
  transition: width 0.3s ease;
}

/* Hover effect */
.nav-links a:hover {
  color: #58a6ff;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Active route highlighting (Angular RouterLinkActive) */
.active-link {
  color: #58a6ff !important;
}

.active-link::after {
  width: 100%;
}
