.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  background: linear-gradient(to bottom right, #0d1117, #161b22);
  color: white;

  h1 {
    font-size: 60px;
    margin-bottom: 10px;

    span {
      color: #58a6ff;
    }
  }

  h2 {
    font-size: 26px;
    opacity: 0.8;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    max-width: 600px;
    margin-bottom: 20px;
    opacity: 0.9;
  }

  .btn {
    padding: 12px 25px;
    background: #58a6ff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: black;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;

    &:hover {
      background: #1f6feb;
    }
  }
}
